<div class="row">
    <div class="col-sm-12">
        <h2>Projects</h2>
        <ul>
            <!-- TODO: Use Angular ui.bootstrap module to add tooltips for followers and projects: http://angular-ui.github.io/bootstrap/ -->
            <li ng-repeat="project in model.projects"><a href="#/project/{{project.shortname}}">{{ project.title }}</a>
                sponsored by
                <a href="#/project/{{project.shortname}}">{{ project.owner }}</a> - {{project.followers.length}}
                follower<span ng-show="project.followers.length>1">s</span></li>
        </ul>
    </div>
</div>