<div class="row">
    <div class="col-sm-12">
        <h2>Users</h2>
        <ul>
            <li ng-repeat="user in model.users">
                <a href="#/user/{{user.username}}">{{ user.username }}</a>
                <span ng-show="user.interestedIn.length || user.memberOf.length"> - </span>
                <span ng-show="user.interestedIn.length">following {{ user.interestedIn.length }}</span>
                <span ng-show="user.memberOf.length && user.interestedIn.length">,</span>
                <span ng-show="user.memberOf.length">member of {{ user.memberOf.length }}</span>
            </li>
        </ul>
    </div>
</div>