<h2>{{ project.title }}</h2>
<h3 style="color: #666666; margin: .5em 0 1.25em;"><em>{{ project.shortname }}</em></h3>
<h3>Description:</h3>
<p>{{ project.description }}</p>

<div class="row">
    <div class="col-md-3 col-sm-6">
        <h3>Owner:</h3>
        <ul ng-show="project.owner">
            <li><a href="#/user/{{project.owner}}">{{ project.owner }}</a></li>
        </ul>
        <p ng-show="!project.owner">{{project.title}} does not have an owner</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3>Creator:</h3>
        <ul>
            <li><a href="#/user/{{project.creator}}">{{ project.creator }}</a></li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3>Members</h3>
        <div ng-show="project.members.length">
            <ul>
                <li ng-repeat="user in project.members"><a href="#/user/{{ user }}">{{ user }}</a></li>
            </ul>
        </div>
        <p ng-show="!project.members.length">{{project.title}} does not have any members</p>
    </div>
    <div class="col-md-3 col-sm-6">
        <h3>Followers: </h3>
        <div ng-show="project.followers.length">
            <ul>
                <li ng-repeat="user in project.followers"><a href="#/user/{{ user }}">{{ user }}</a></li>
            </ul>
        </div>
        <p ng-show="!project.followers.length">{{project.title}} does not have any followers</p>
    </div>
</div>